{% extends "base.html" %}

{% block content %}


<section class="img-fluid" src="https://images.unsplash.com/photo-1528297506728-9533d2ac3fa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Boiler Quotepad">


<section class="main-image-section-home">
    <div class="img-overlay">
        <h1>Boiler Quotepad</h1>
        <p>Generate instant quotations for your customers from your tablet or mobile, delivered as PDF's to their email.</p>
        <button class="btn btn-primary">Sign Up Now!</button>
    </div>

</section>


<h1>QuotePad Process</h1>
<ul>
<li>1. Register with site</li>
<li>2. Edit your Profile</li>
<li>3. Upload Image Files</li>
<li>4. Create Quote Template</li>
<li>5. Create Quote</li>
<li>6. Email to Customer</li>

</ul>


 
{% endblock %}