/* Cross application classes */

body {
  font-size: 16px;
}

main{
  background-color: rgb(255, 255, 255);
  min-height: 75vh;
}

.container-fluid{
  margin-top: 25px;
  margin-bottom: 25px; 
}

footer {
  color: rgb(255, 255, 255);
  padding-top: 20px;
  min-height: 25vh
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.social-list{
  list-style: none;
}


/* Landing Page */
.heading-section-landing {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 80px;
}

.landing-info-col {
  text-align: center;
}

.landing-info-titles{
  font-size: 1.4rem;
}

.landing-info-icons{
  font-size: 3rem;
}


.process-section {
  background-color: rgb(0, 0, 0);
}

.process-list-col {
  text-align: center;
  background-color: rgb(62, 194, 207);
}

.process-image-col {
  text-align: center;
}

.process-list {
  list-style: none;
  color: white;
  margin-top: 50px;
}

.process-list-item-heading {
  font-size: 2rem;
}


.btn-col {
  text-align: center;
  background-color: white;
  padding-bottom: 20px;
}

.trustpilot-logo {
  height: 200px;
}

.quote-row {
  margin-top: 50px;
}

/* forms */

.quote-form-container {
  background-color: rgb(246, 245, 242);
  border: 1px solid lightblue;
  margin: 0 auto;
}


.boiler-form {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* dashboard */


.dashboard-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-img-top {
  height: 100px;
  width: 100px;
}

.card-deck {
  margin-bottom: 30px;
}

.card:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

#dashboard-heading {
  margin-top: 50px;
  color: black;
}

.product-details-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-image {
  font-size: 30px;

}

.fa-times {
  font-size: 30px;
}


.price-list-headings {
  margin-top: 30px;
}


.edit-product-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.status-text {
  color: white;
}

.above-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.above-nav-list-items{
  float: right;
}

.above-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.above-nav {
  float: left;
}

.above-nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.above-nav a:hover {
  background-color: #111111;
}

.nav-dropdown:hover{
  color: rgb(24, 188, 156) !important;
}

.blockquote{
  color: rgb(255, 255, 255);
}

.navbar{
  color: white;
}

.dropdown{
  list-style: none;
  border: none;
  margin-right: 30px;
}
