{% extends "base.html" %}

{% block content %}


<div class="jumbotron container">
  <h1 class="display-4">Subscribe Here - Only 14.99!</h1>
  <p class="lead">In order to create bespoke quotations for your customers you will need to purchase the full version of Quotepad. Build and send as many quotes as you like
    making the survey process faster and easier.
  </p>
  <hr class="my-4">
  <p>The 14.99 subscription represents incredible value for money, get it at this promotional price for a short time only.</p>
  <form action="{% url 'charge' %}" method="post">
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="Quotepad Subscription Charge"
            data-amount="1500"<
            data-locale="auto"
            data-currency=gbp></script>
  
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>        
  </form>
</div>


{% endblock %}