{% extends "base.html" %}

    {% block content %}    

       
       <div class="container">

            <h2>Edit Your Information</h2>
    
            <form method="POST" name="ProfileForm">
            {% csrf_token %}    
    
            <div class="form-group">
                <label for="editFirstName">First Name</label>
                <input name="first_name" type="text" class="form-control" id="editFirstName" placeholder="First Name" required value = "{{form.first_name.value}}">
            </div>
    
            <div class="form-group">
                    <label for="editLastName">Last Name</label>
                    <input name="last_name" type="text" class="form-control" id="editLastName" placeholder="Last Name" required value = "{{form.last_name.value}}">
            </div>

            <div class="form-group">
                    <label for="editCompanyName">Company Name</label>
                    <input name="company_name" type="text" class="form-control" id="editCompanyName" placeholder="Company Name" required value = "{{form.company_name.value}}">
            </div>

            <div class="form-group">
                    <label for="editEmail">Email</label>
                    <input name="email" type="email" class="form-control" id="editEmail" placeholder="Email" required value = "{{form.email.value}}">
            </div>

            <div class="form-group">
                    <label for="editPhone">Phone Number</label>
                    <input name="telephone" type="tel" class="form-control" id="editPhone" placeholder="Phone Number" required value = "{{form.telephone.value}}">
            </div>

            <div class="form-group">
                <label for="editDailyWorkRate">Daily Work Rate</label>
                <input name="daily_work_rate" type="tel" class="form-control" id="editDailyWorkRate" placeholder="Daily Work Rate" required value = "{{form.daily_work_rate.value}}">
            </div>

            <div class="form-group">
                <label for="editQuotePrefix">Quote Prefix</label>
                <input name="quote_prefix" type="tel" class="form-control" id="editQuotePrefix" placeholder="Quote Prefix (3 characters)" required value = "{{form.quote_prefix.value}}">
            </div>            


            <div class="form-group">
                    <label for="editQuoteNumber">Current Quote Number:</label>
                    <input name="cur_quote_no" type="number" class="form-control" id="editQuoteNumber" required value = "{{form.cur_quote_no.value}}">
            </div>

            <input type="hidden" name="alert" value="{{alert}}" readonly>

            <button type="submit" class="btn btn-primary" value="Login">Submit</button>

            <button type="reset" class="btn btn-secondary">Undo</button>

            <a class="btn btn-secondary" href="{% url 'home'%}">Cancel</a>

    
            </form>

    
    </div>
    <script>
        profile_form_validation_response()
    </script>

    {% endblock content %} 