{% extends "base.html" %}

{% block content %}





<section>
    <div class="heading-section-landing">
        <h1>Boiler Quotepad</h1>
        <p class="subtext">Generate instant quotations for your customers from your tablet or mobile, delivered as PDF's
            to their email.</p>
        <a href="/register" class="btn btn-primary">Sign Up Now!</a>
    </div>
</section>

<section class="container-fluid home-info-section">

    <div class="row landing-info">

        <div class="col-sm-12 col-md-4 landing-info-col">
            <i class="fas fa-edit landing-info-icons"></i>
            <h2 class="text-primary landing-info-titles">Fill in the details</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, itaque provident facere voluptatibus
                pariatur commodi soluta similique ad sint placeat vel dolore, libero perspiciatis. Eum deserunt illo
                itaque amet dolorum!</p>
        </div>

        <div class="col-sm-12 col-md-4 landing-info-col">
            <i class="fas fa-tablet landing-info-icons"></i>
            <h2 class="text-primary landing-info-titles">Fill in the details</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, itaque provident facere voluptatibus
                pariatur commodi soluta similique ad sint placeat vel dolore, libero perspiciatis. Eum deserunt illo
                itaque amet dolorum!</p>
        </div>

        <div class="col-sm-12 col-md-4 landing-info-col">
            <i class="fas fa-envelope-square landing-info-icons"></i>
            <h2 class="text-primary landing-info-titles">Fill in the details</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, itaque provident facere voluptatibus
                pariatur commodi soluta similique ad sint placeat vel dolore, libero perspiciatis. Eum deserunt illo
                itaque amet dolorum!</p>
        </div>


    </div>

</section>

<section class="container-fluid process-section">

    <div class="row">
        <div class="col-sm-12 col-md-6 process-list-col">
            <img class="img-fluid" src="https://www.ncbar.org/media/933988/864pop_web.jpg" alt="Paperless">
        </div>

        <div class="col-sm-12 col-md-6 process-image-col bg-primary">
            <ul class="process-list">
                <li class="process-list-item-heading text-success">6 Easy Steps!</li>
                <li>1.Register with our site</li>
                <li>2. Edit your profile</li>
                <li>3.Upload your branding</li>
                <li>4. Customise your quotation template</li>
                <li>5. Complete surveys to generate quotes</li>
                <li>6. Quotation automaticall emailed to your customer.</li>
            </ul>
        </div>

    </div>

    <div class="row quote-row">
        <div class="col-sm-12">
            <blockquote class="blockquote text-center">
                <p class="mb-0">Quotepad had completely changed the way we work!</p>
                <footer class="blockquote-footer">Steve Jones from <cite title="Source Title">Boiler Review</cite>
                </footer>
            </blockquote>

        </div>

        <div class="col-sm-12 btn-col">
            <img class="img-fluid trustpilot-logo"
                src="https://www.abbeylocks.co.uk/wp-content/uploads/2019/01/trustpilot-logo-1.png"
                alt="Trustpilot Logo">
        </div>
        <div class="col-sm-12 btn-col">
            <a href="/register" class="btn btn-primary">Sign Up!</a>
        </div>

    </div>

</section>




{% endblock %}