{% extends "base.html" %}

{% block content %}

<h4>Uploaded Images</h4>

{% for frecord in frecords %}

    <hr>
    <img src="{{frecord.document.url}}"  height="50" style="border:1px solid grey" >
    <p>Image Description: {{frecord.description}}</p>
    <p>Image Url: {{frecord.document}}</p>
    <p>Uploaded on: {{frecord.uploaded_at}}</p>
    <p>PDF unique ID: <b>frecords.{{forloop.revcounter0}}.document.url</b></p>

    {% empty %}
    <p>You have no images saved on the website.</p>

{% endfor %}

{% if frecords|length == 2 %}
<script>
    all_good("Great news", "You now have the minimum number of images to create a quote.")
</script>

{% elif frecords|length < 2 %}
<script>
    not_all_good("Please Note", "You will need to upload a minimum of one logo and a product image to create your quote. Upload the logo first.")
</script>

{% endif %}
 
{% endblock %}