
body{
  font-size: 16px;
}


#main {
    background-color: rgb(255, 255, 255);
}

footer{
  color: white;
  padding-top: 40px;
}

/* Home */
h1{
  text-align: center;
}

.main-image-section-home{
  background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0))), url("https://images.pexels.com/photos/236086/pexels-photo-236086.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url("https://images.pexels.com/photos/236086/pexels-photo-236086.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  height: 50vh;
}

.img-overlay{
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 100px;
}

.home-info{
  margin-top: 80px;
}

.home-info-titles{
  font-size: 1.5rem;
}
.home-info-col{
  text-align: center;
  color: rgb(0, 0, 0);
}

.home-info-icons{
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.process-section{
  background-color: rgb(0, 0, 0);
  margin-top: 80px;
}

.process-list-col{
  text-align: center;
  background-color: rgb(62, 194, 207);
}

.process-image-col{
  text-align: center;
}

.process-list{
  position: relative;
  list-style: none;
  margin-top: 10%;
}

.process-list-item-heading{
  font-size: 2rem;
}

.btn-col{
  text-align: center;
  background-color: white;
  padding-bottom: 30px;
  }

.trustpilot-logo{
  height: 150px;
}

.quote-row{
  margin-top: 50px;
}


/* forms */

.quote-form-container{
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(246, 245, 242);
  border: 1px solid lightblue;
}


.boiler-form{
  margin-top: 30px;
  margin-bottom: 30px;

}

.dashboard-container{
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-img-top{
  height: 100px;
  width: 100px;
}

.card-deck{
  margin-bottom: 30px;
}

#dashboard-heading{
  margin-top: 50px;
}

.product-details-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-image{
  font-size: 30px;

}

.fa-times{
  font-size: 30px;
}


.price-list-headings{
  margin-top: 30px;
}



h1{
  font-size: 2rem;
}

.edit-product-container{
  margin-top: 20px;
  margin-bottom: 20px;
}